/* CSS Settings specific to Account page */

.table
{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    border-collapse: collapse;
}

.table-header
{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    font-weight: 300;
    width: 30%;
    text-align: left;
}

.separating-line
{
    border-top: 1px #000 solid; /* top border only */
}

.table-data
{
    color: black;
    font-size: 18px;
    font-weight: 600;
    width: 70%;
}