/* CSS Settings specific to Dashboard page */

.dashboard-cards
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    border-radius: 5px;
    background: white;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px white;
}

.card:hover
{
    box-shadow: 5px 5px 13px rgb(204, 199, 199), -5px -5px 13px white;
}

.card-button 
{
    border: none;
    background: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.entry-list
{
    margin-top: 50px;
    margin-left: -120px;
}

.charts
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
}

.charts-left
{
    padding: 25px;
    border-radius: 5px;
    background: white;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px white;
}

.charts-right
{
    padding: 25px;
    border-radius: 5px;
    background: white;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px white;
}


.charts-title
{
    display: flex;
    align-items: center;
    vertical-align: super;
    justify-content: space-between;
    color:white;
}



