/* CSS Settings that are the same for every page */

.page
{
    background: white;
    grid-area: main;
    overflow-y: auto;
}

.page-container
{
    margin-left: 100px;
    padding: 20px 35px;
}

.page-title
{
    display: inline-flex;
    align-items: left;
    left: 20px;
}

.page-title > h1
{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    left: 0px;
    font-weight: 800;
}

.page-title > h2
{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    top: 100px;
    font-weight: 300;
}

.page-body > h2
{
    font-size: 20px;
    margin-left: 120px;
    margin-top: -20px;
    font-weight: 100;
}

.page-body > h3
{
    font-size: 18px;
    margin-left: -80px;
    margin-top: 30px;
}

