/* CSS Settings specific to Account page */

.info-table
{
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.info-table > h2
{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    font-weight: 300;
}

.info-table > hr
{
    color: black;
    margin: 20px 0 20px 0;
}